# Node.js (pour FrontWeb et Mobile si React, React Native, etc.)
node_modules/
vendor/
dist/
.env
.env.*
*.lock

# Python / Django (pour Backend si c’est du Django)
__pycache__/
*.py[cod]
*.sqlite3
.env
venv/
db.sqlite3

# macOS
.DS_Store

# IDEs
.vscode/
.idea/

# Logs
*.log
Mobile/node_modules/

Mobile/android/.gradle/
Mobile/android/.idea/
Mobile/android/.kotlin/
Mobile/android/build/
Mobile/android/app/build/
Mobile/android/app/.cxx/
Mobile/android/app/build/intermediates/

Mobile/ios/build/
Mobile/ios/.Podfile.lock
Mobile/ios/Pods/

Mobile/node_modules/
Mobile/vendor/
Mobile/dist/
Mobile/.env
Mobile/.env.*
Mobile/*.lock
Mobile/android/.gradle/
Mobile/android/app/.cxx/

*.iml
.gradle/
*.keystore

*.apk
*.so
